/* Bienvenidos  */
.bienvenidos {
  position: relative;
  width: 383px;
  height: 536px;
  align-items: center;
}

/* bg */
.bg {
  position: absolute;
  width: 437px;
  height: 844px;
  left: -47px;
  top: 0px;

  background: linear-gradient(
      179.99deg,
      rgba(0, 229, 48, 0.1) -23.32%,
      #000000 99.99%
    ),
    url(../Imagenes/bodegon-escritorio-oficina-desordenado.png);
}

/* APP Registro de gastos */
.appreg {
  position: absolute;
  width: 285px;
  height: 70px;
  left: 41px;
  top: 78px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  text-align: center;

  color: #ffffff;
}

/* btn */
.btn {
  margin-left: 40px;
  width: 308px;
  height: 59px;
  background-color: #00e530;
  border: none;
  border-radius: 40px;
  opacity: 0.5;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #ffffff;
}
.btn:hover {
  opacity: 1;
  color: #ffffff;
  cursor: pointer;
}

/* Rectangle 1 */
.rectangle1 {
  position: absolute;
  width: 100%;
  height: 58px;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 676px;
}
/* crear cuenta */
.crearcuenta {
  position: absolute;
  width: 230px;
  height: 54px;
  left: 120px;
  top: 755px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration-line: underline;

  color: #ffffff;
}
.crearcuenta:hover {
  cursor: pointer;
}
