/* Crear cuenta  */
.crear_cuenta {
  position: relative;
  width: 100%;
  height: 100%;

  background: #f5f5f8;
}

/* bg */
.bgcp {
  position: absolute;
  width: 591px;
  height: 634px;
  left: -112px;
  top: -229px;
}

/* Ellipse 1 */
.elipse {
  width: 591px;
  height: 634px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #d9d9d9;
  border-radius: 9999px;
}
/* bg */
.bgc {
  width: 437px;
  height: 844px;
  left: 78px;
  top: -168px;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 229, 48, 0.5) 0%, #f4f8f5 100%),
    url(../Imagenes/plantilla2.png);
}
/* APP Registro de gastos */
.appgastos {
  width: 285px;
  height: 70px;
  left: 41px;
  top: 41px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: Nunito;
  font-weight: 700;
  word-wrap: break-word;
}

/* Rectangle 2 */
.rectangulo2 {
  width: 338px;
  height: 528px;
  left: 26px;
  top: 300px;
  position: absolute;
  background: white;
  border-radius: 40px;
}
/* Bienvenidos a APP registro de gastos */
.bapp {
  width: 217px;
  height: 29px;
  left: 87px;
  top: 330px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: Nunito;
  font-weight: 700;
  word-wrap: break-word;
}

/* input 1 */
.input1 {
  width: 306px;
  height: 36px;
  left: 12px;
  top: 412px;
  position: absolute;
}

/* Line 1 */
.line1 {
  width: 252.01px;
  height: 0px;
  left: 54px;
  top: 26px;
  position: absolute;
  border: 1px #2a2a31 solid;
}
/* Nombre */
.nombre {
  width: 172px;
  height: 36px;
  left: 0px;
  top: 0px;
  position: absolute;
  text-align: center;
  color: #cccccc;
  font-size: 18px;
  font-family: Nunito;
  font-weight: 700;
  word-wrap: break-word;
}

/* input 2*/
.input2 {
  width: 306px;
  height: 36px;
  left: 12px;
  top: 457px;
  position: absolute;
}

/* Line 2 */
.line2 {
  width: 252.01px;
  height: 0px;
  left: 54px;
  top: 26px;
  position: absolute;
  border: 1px #2a2a31 solid;
}

/* Apellido */
.apellido {
  width: 172px;
  height: 36px;
  left: 0px;
  top: 0px;
  position: absolute;
  text-align: center;
  color: #cccccc;
  font-size: 18px;
  font-family: Nunito;
  font-weight: 700;
  word-wrap: break-word;
}

/* input 3*/
.input3 {
  width: 306px;
  height: 36px;
  left: 12px;
  top: 502px;
  position: absolute;
}
/* Line 3 */
.line3 {
  width: 252.01px;
  height: 0px;
  left: 54px;
  top: 26px;
  position: absolute;
  border: 1px #2a2a31 solid;
}

/* Correo */
.correo {
  width: 172px;
  height: 36px;
  left: 0px;
  top: 0px;
  position: absolute;
  text-align: center;
  color: #cccccc;
  font-size: 18px;
  font-family: Nunito;
  font-weight: 700;
  word-wrap: break-word;
}

/* input 4*/
.input4 {
  width: 297px;
  height: 36px;
  left: 21px;
  top: 546px;
  position: absolute;
}

/* Line 1 */
.line4 {
  width: 252.01px;
  height: 0px;
  left: 45px;
  top: 26px;
  position: absolute;
  border: 1px #2a2a31 solid;
}

/* Password */
.password {
  width: 172px;
  height: 36px;
  left: 0px;
  top: 0px;
  position: absolute;
  text-align: center;
  color: #cccccc;
  font-size: 18px;
  font-family: Nunito;
  font-weight: 700;
  word-wrap: break-word;
}

/* input 5*/
.input5 {
  width: 252px;
  height: 36px;
  left: 66px;
  top: 586px;
  position: absolute;
}

/* Line 5 */
.line5 {
  width: 252.01px;
  height: 0px;
  left: 0px;
  top: 26px;
  position: absolute;
  border: 1px #2a2a31 solid;
}
/* Confirmar Password */
.confirmarpass {
  width: 172px;
  height: 36px;
  left: 0px;
  top: 0px;
  position: absolute;
  text-align: center;
  color: #cccccc;
  font-size: 18px;
  font-family: Nunito;
  font-weight: 700;
  word-wrap: break-word;
}

/* input 6 */
.input6 {
  width: 306px;
  height: 36px;
  left: 12px;
  top: 622px;
  position: absolute;
}

/* Line 6 */
.line6 {
  width: 252.01px;
  height: 0px;
  left: 54px;
  top: 26px;
  position: absolute;
  border: 1px #2a2a31 solid;
}

/* Celular */
.celular {
  width: 172px;
  height: 36px;
  left: 0px;
  top: 0px;
  position: absolute;
  text-align: center;
  color: #cccccc;
  font-size: 18px;
  font-family: Nunito;
  font-weight: 700;
  word-wrap: break-word;
}
/* btn */
.btnc {
  position: absolute;
  width: 308px;
  height: 59px;
  left: 42px;
  top: 698px;
}

/* Rectangle 1 */
.rectangulo1c {
  width: 308px;
  height: 58px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #00e530;
  border-radius: 40px;
}

/* Crear */
.crear {
  width: 208px;
  height: 58px;
  left: 50px;
  top: 18px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Nunito;
  font-weight: 700;
  word-wrap: break-word;
}
